In [7]:
#integers
x=40
print(x)
print(type(x))

#strings
y='theju'
print(y)
print(type(y))

#float
z=8.7
print(z)
type(z)

#boolean
a=True
b=False
print(type(a))
b

#complex numbers
c=10+50j
print(c)
print(type(c))
#to see real and imaginary part
(c.real, c.imag)

40
<class 'int'>
theju
<class 'str'>
8.7
<class 'bool'>
(10+50j)
<class 'complex'>

(10.0, 50.0)

In [9]:
#dynamic typing: can have multiple variables with the same name

theju='hello'
print(theju)

theju='hai'
print(theju)

hello
hai

In [14]:
#strong typing: in order to concatenate string and integers
print('tues'+str(2))
print(str(4)+'hello')
print('hai'+'hello')
print('3'+'day')

tues2
4hello
haihello
3day

In [16]:
#simple expressions
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(False or False)
print(not True)
print(not False)
print(True is True)
print(True is False)
print(False is False)
#print('theju' is 'theju')
#print('theju' is '1theju')
#print('theju' is not '1theju')

True
False
False
True
True
False
False
True
True
False
True

In [19]:
#branching(if/elif/else)

t=10
if t<=11:
    print("t is lesser than 11")
elif t>=11:
    print("t is greater than 11")
else:
    print("null")
    
t=20
if t<=11:
    print("t is lesser than 11")
elif t>=11:
    print("t is greater than 11")
else:
    print("null")
    
t=0
if t<=11:
    print("t is lesser than 11")
elif t>=11:
    print("t is greater than 11")
else:
    print("null")

t is lesser than 11
t is greater than 11
t is lesser than 11

In [26]:
#list
list=['hai', 'rhea', 1, 2, 4, 'good']
list

['hai', 'rhea', 1, 2, 4, 'good']

In [27]:
list.append(6)
list

['hai', 'rhea', 1, 2, 4, 'good', 6]

In [28]:
list.insert(4, 'true')
list

['hai', 'rhea', 1, 2, 'true', 4, 'good', 6]

In [29]:
list.insert(2, 90)
list

['hai', 'rhea', 90, 1, 2, 'true', 4, 'good', 6]

In [30]:
#loops
#for loop

num=[2,3,4,5,6,7]
value=0
for i in num:
    value=value+i
print("the value is:", value)

the value is: 27

In [34]:
#for loop with else
name='theju'
for i in name:
    if name=='theju':
        print("my name")
    else:
        print("not my name")

my name
my name
my name
my name
my name

In [38]:
#while loop

x=int(input("enter the number:"))
sum=0
i=2
while i<=x:
    sum=sum+i
    i=i+1
print("the sum is:", sum)

enter the number:6
the sum is: 20

In [48]:
#range()
range(10)

range(0, 10)

In [56]:
days=['mon', 'tues', 'wednes']
for i in range(len(days)):
    print("we have", days[i])

we have mon
we have tues
we have wednes

In [72]:
#break and continue

for i in "DHANUSH":
    if i=="S":
        break
        print(val)
print("its done")

its done

In [74]:
for value in "DHANUSH":
    if value=="S":
        continue
        print(val)
print("its done")

its done

In [ ]:
name=input("what is your name?\n")

In [ ]:
print(hello)